@font-face { font-family: Nickainly; src: url('./Nickainley.otf') format('opentype'); } 
html{
    background-color: black;
}
.welcomeText{
    color:#cca2e4;
    text-shadow: 0 0 10px #d2b2e4;
    font-size: 1.5cm;
    font-family: Nickainly;
    text-align: center;
}
#allMyProjects{
    color:#cca2e4;
    text-shadow: 0 0 5px #d2b2e4;
    font-size: 1cm;
    font-family: Nickainly;
    text-align: center;
    text-decoration: none;
    
}
.blackBox{
    height: 30px;
    width: 1065px;
    outline: white;
}
.vsCodeLogo{
    height: 70%;
    width: 70%;
}
.lines{
    height: 200px;
    width: 200px;
}
.face{
    border-radius: 50%;
    height: 400px;
    width: 400px;
}
.linkGithub:hover {
    color: #FFD700;
  }

.linkGithub{
    color:#cca2e4;
    text-shadow: 0 0 10px #d2b2e4;
    font-size: 1.5cm;
    font-family: Nickainly;
    text-align: center;
    text-decoration: none;
    
}
.bodyText{
    color:#cca2e4;
    font-size: larger;
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.bodyTextTwo{
    color:#cca2e4;
    font-size: larger;
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: none;

}
/* Resizes the image */
#logo > a > img{
    width: 350px;
    height: 118px;
    max-width: 100%;
}
#lineImage{
    margin: auto;
}
#lineImage > contact > fieldset{
    border: none;
}
#search{
    width: 600px;
}
#projects{
    margin: auto;
    color: #cca2e4
}
#projects>a:hover{
    color: #bea9ca;
}
#menu{
    margin: auto;
    color: #cca2e4
}
#menu>a:hover{
    color: #bea9ca;
}
#aboutMe{
    margin: auto;
    color: #cca2e4
}
#aboutMe>a:hover{
    color: #bea9ca;
}
#contact{
    margin: auto;
    color: #cca2e4
}
#contact>a:hover{
    color: #bea9ca;
}
.links {
    text-decoration: none;
    font-size: 50px;
    color: #cca2e4;
    font-family: Nickainly;
    text-shadow: 0 0 10px #d2b2e4;

}
.links:hover {
    color: #FFD700;
}
.bodyTextTwo:hover {
    color: #FFD700;
}
#footer{
    grid-area: footer;
    margin:auto;
    text-align: center;
}
p{
    text-align: center;
    color: #bea9ca;
}
#hr{
    margin: auto;
    width: 100%;
    background-color: #ca77fa;
}
#fimg{
    width: 175px;
    height: 5900px;
}
/* This defines the grid */
.container{
    margin: 0px;
    background-color: black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "main main main "
    "blackBox1 line1 blackBox2"
    "food1 uncan1 rock1"
    "footer" 
    ;
}
#comment{
    border: none;
}
.navbar{ 
    display: flex;
    background-color: black;
    position: sticky;
    top: 0px;
    flex-wrap: wrap;
    font-family: Nickainly;
}
#blogo{
    max-width: 100%;
}
/* This makes sure the search bar changes on different screens */
@media screen and (max-width: 475px) {
    .links {
        text-decoration: none;
        font-size: 25px;
        color: #cca2e4;
        font-family: Nickainly;
        text-shadow: 0 0 10px #d2b2e4;
    
    }
    #search {
            width: 400px;
        }
    .bodyText{
        color:#cca2e4;
        font-size: small;
        text-align: center;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    .welcomeText{
        color:#cca2e4;
        text-shadow: 0 0 10px #d2b2e4;
        font-size: 25px;
        font-family: Nickainly;
        text-align: center;
    }
    .blackBox{
        display: none;
    }
    .dumbAsRocks{
        display: none;
    }
    .ti{
        display: none;
    }
    .FIFOne{
        display: none;
    }
}


